<!-- <!DOCTYPE html>
<html>

<head>
    <title>Items List</title>
</head>

<body>

    <h1>List of Items</h1>

    <table border="1" cellpadding="5">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>

        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html> -->
