










































<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase page</title>
</head>

<body>

    <h3>Purchase Item:</h3>
    
    <form id="purchaseForm" method="POST">  

        <label for="item id">Item ID:</label>
        <input type="number" id="item_id" name="item_id" placeholder="Enter item id" required><br><br>
        
        <label for="qty">Quantity:</label>
        <input type="number" id="qty" name="qty" placeholder="Enter quantity"><br><br>

        <label for="rate">Rate:</label>
        <input type="number" id="rate" name="rate" placeholder="Enter rate" readonly><br><br>

        <lable type="text">Amount:</lable>
        <input><br><br>

        <button type="submit">Add Purchase</button>
        <button type="submit">View Purchase</button>

    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}



    <!-- <button id="go-home-btn">Go to Home</button> -->

    <!-- <script src="static/js/purchase.js"></script>
    
</body>
</html> --> -->
