











































<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Page</title>
</head>

<body>

    <h3>Sales Item:</h3>

    <form id="salesForm" method="POST">
        
        <label for="item_id">Item ID:</label>
        <input type="number" id="item_id" name="item_id" placeholder="Enter item id" required><br><br>

        <label for="qty">Quantity:</label>
        <input type="number" id="qty" name="qty" placeholder="Enter quantity" required><br><br>

        <label for="rate">Rate:</label>
        <input type="number" id="rate" name="rate" placeholder="Enter rate" required><br><br>

        <label for="amount">Amount:</label>
        <input id="amount" name="amount" readonly><br><br>

        <button type="submit">Add Sales</button>
        <button type="submit">View sales</button>

    </form>

    <div id="message">
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>

    <!-- <button id="go-home-btn">Go to Home</button> -->

<!-- </body>
</html> --> -->