<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales</title>
</head>

<body>
    <center><h3>Sales History</h3></center>
    <table id="sales-table" border="1" cellpadding="5">
        <tr>
            <th>Sales Id</th>
            <th>Timestamp</th>
            <th>Item Id</th>
            <th>Qty</th>
            <th>Rate</th>
            <th>Amount</th>
        </tr>
        {% if sales %}
            {% for sale in sales %}
            <tr>
                <td>{{ sale.sales_id }}</td>
                <td>{{ sale.timestamp }}</td>
                <td>{{ sale.item_id }}</td>
                <td>{{ sale.qty }}</td>
                <td>{{ sale.rate }}</td>
                <td>{{ sale.amount }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" style="text-align: center;">No sales records found</td>
            </tr>
        {% endif %}
    </table>



    <button id="sales-home-btn">Go Back Home</button>

<script src="static/js/sales.js"></script>

</body>

</html>